.form-container {
    max-width: 300px; /* Ancho máximo para el formulario */
    margin: 0 auto; /* Centrar el formulario */
    padding: 20px; /* Espaciado interno */
    border: 1px solid #ccc; /* Borde del formulario */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Sombra del formulario */
}

.form-input {
    width: 100%; /* Ocupará el 100% del ancho */
    max-width: 300px; /* Limitar el ancho máximo */
    padding: 10px; /* Espaciado interno */
    border: 1px solid #ccc; /* Borde del input */
    border-radius: 4px; /* Bordes redondeados */
    font-size: 16px; /* Tamaño de fuente */
    margin-bottom: 10px; /* Espacio entre inputs */
    box-sizing: border-box; /* Incluir el padding y el borde en el ancho */
}

.form-button {
    background-color: #000; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    border: none; /* Sin borde */
    border-radius: 4px; /* Bordes redondeados */
    padding: 10px; /* Espaciado interno del botón */
    cursor: pointer; /* Cambiar el cursor al pasar por encima */
    font-size: 16px; /* Tamaño de fuente del botón */
    width: 100%; /* Ocupará el 100% del ancho */
}
